USE [obp_dtms]
GO
/****** Object:  StoredProcedure [dbo].[obps_sp_EditUserType]    Script Date: 2024-04-27 8:03:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[obps_sp_EditUserType]
@id nvarchar(MAX),
@UserType nvarchar(MAX),
@UserTypeDesc nvarchar(MAX)
AS
BEGIN
	update obps_UserType set UserType=@UserType,UserTypeDesc=@UserTypeDesc where id=@id
END
GO
