USE [obp_dtms]
GO
/****** Object:  StoredProcedure [dbo].[obps_sp_getLink]    Script Date: 2024-04-27 8:03:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[obps_sp_getLink]
@id nvarchar(MAX)=''
AS
BEGIN
	if @id<>''
		select id,LinkName from obps_TopLinks where id=@id
	else
		select id,LinkName from obps_TopLinks
END
GO
