USE [obp_dtms]
GO
/****** Object:  StoredProcedure [dbo].[obps_sp_getData_Grid2]    Script Date: 2024-04-27 8:03:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[obps_sp_getData_Grid2]
AS
BEGIN
select * from OBP_PRJ_012
END
GO
