USE [obp_dtms]
GO
/****** Object:  StoredProcedure [dbo].[obps_sp_getPivotFieldChooser]    Script Date: 2024-04-27 8:03:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[obps_sp_getPivotFieldChooser]
@linkid int=''
AS
BEGIN

select AllowPivotFieldChooser from obps_TopLinks where id=@linkid

END
GO
