USE [obp_dtms]
GO
/****** Object:  StoredProcedure [dbo].[obps_sp_getGridId]    Script Date: 2024-04-27 8:03:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[obps_sp_getGridId]        
@Username  NVARCHAR(MAX)='' ,      
@linkid int='' 
AS        
BEGIN        
 select  Id,gridid from obps_TopLinkExtended 
 where Linkid=@linkid  order by GridId   
END     
GO
