USE [obp_dtms]
GO
/****** Object:  StoredProcedure [dbo].[obps_sp_EditUserRole]    Script Date: 2024-04-27 8:03:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[obps_sp_EditUserRole]
@id nvarchar(MAX),
@RoleId nvarchar(MAX)
--@GroupName nvarchar(MAX)
AS
BEGIN
	update obps_RoleMaster set RoleId=@RoleId where id=@id
END
GO
