USE [obp_dtms]
GO
/****** Object:  StoredProcedure [dbo].[obps_sp_deletetempLink]    Script Date: 2024-04-27 8:03:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[obps_sp_deletetempLink]
@Topid int='',
@TopExtndid int=''
AS
BEGIN

delete from obps_TopLinks_temp where id=@Topid
delete from obps_TopLinkextended_temp where id=@TopExtndid


END
GO
