USE [obp_dtms]
GO
/****** Object:  Table [dbo].[tb_test1]    Script Date: 2024-04-27 8:02:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_test1](
	[id] [int] NULL,
	[CustomerName] [nvarchar](100) NULL
) ON [PRIMARY]
GO
