USE [obp_dtms]
GO
/****** Object:  Table [dbo].[obps_ChartTypeMaster]    Script Date: 2024-04-27 8:02:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[obps_ChartTypeMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChartId] [int] NOT NULL,
	[Chart] [nvarchar](max) NOT NULL,
	[ChartTypes] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
